
@model BudgetApplication.Models.Incomes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Create Income";
}
<h1 style="margin:auto; text-align:center;">@ViewBag.Title</h1>

<div class="budget-submit-form">
    <form asp-controller="Incomes" asp-action="CreateIncome" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span style="color:red; margin:auto; text-align:center;">@TempData["ErrorMessage"]</span>
        <div class="form-group">
            <label asp-for="IncomeName" class="control-label"></label>
            <input asp-for="IncomeName" class="form-control" />
            <span asp-validation-for="IncomeName" class="text-danger"></span>
        </div>
        <div class="form-group" style="display:inline-block;">
            <label asp-for="IncomeTypeId" class="control-label"></label>
            <select asp-for="IncomeTypeId" class="form-control" asp-items="ViewBag.IncomeTypeId" style="width: 200px;text-align:center;"></select>
            <span asp-validation-for="IncomeTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaymentFrequencyTypeId" class="control-label"></label>
            <select asp-for="PaymentFrequencyTypeId" class="form-control" asp-items="ViewBag.PaymentFrequencyTypeId" style="width:200px;text-align:center;margin:auto;"></select>
            <span asp-validation-for="PaymentFrequencyTypeId" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 5px;">
            <input type="submit" value="Create" class="btn btn-primary" | />
            <a asp-controller="Incomes" asp-action="Incomes" class="btn btn-danger" >Cancel</a>
        </div>
    </form>
</div>

