
@model BudgetApplication.Models.BankAccounts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Create Bank Account";
}
<h1 style="margin:auto; text-align:center;">@ViewBag.Title</h1>

<div class="budget-submit-form">
    <form asp-controller="BankAccounts" asp-action="CreateBankAccount" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span style="color:red; margin:auto; text-align:center;">@TempData["ErrorMessage"]</span>
        <div class="form-group">
            <label asp-for="BankAccountName" class="control-label"></label>
            <input asp-for="BankAccountName" class="form-control" />
            <span asp-validation-for="BankAccountName" class="text-danger"></span>
        </div>
        <div class="form-group" style="display:inline-block;">
            <label asp-for="BankAccountTypeId" class="control-label"></label>
            <select asp-for="BankAccountTypeId" class="form-control" asp-items="ViewBag.BankAccountTypeId" style="width: 200px;text-align:center;"></select>
            <span asp-validation-for="BankAccountTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="control-label"></label>
            <input asp-for="Balance" class="form-control" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 5px;">
            <input type="submit" value="Create" class="btn btn-primary" | />
            <a asp-controller="BankAccounts" asp-action="BankAccounts" class="btn btn-danger" >Cancel</a>
        </div>
    </form>
</div>

